html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container für das gesamte Layout */
body {
    display: flex;
    flex-direction: column;
    height: 100%; /* Vollständige Fensterhöhe */
    zoom: 0.8;
}

/* Header fixieren */
header {
    flex: 0 0 auto; /* Verhindert, dass sich der Header dehnt */
    padding: 10px; /* Abstand */
    /*border-bottom: 1px solid #ddd;*/
}

/* Main-Content scroll-fähig machen */
main.scrollable-content {
    flex: 1 1 auto; /* Flexibler, scrollbarer Bereich */
    overflow-y: auto; /* Scroll nur bei vertikalem Überlauf anzeigen */
    /*padding: 20px; !* Abstand innerhalb des Contents *!*/
}

/* Footer fixieren */
footer {
    flex: 0 0 auto; /* Verhindert, dass sich der Footer dehnt */
    /*padding: 10px; !* Abstand *!*/
    /*border-top: 1px solid #ddd;*/
    text-align: center;
}


.suiButton {
    padding: 12px 16px;
    text-transform: capitalize;
    color: var(--white_color);
    border: 1px solid rgba(10, 188, 185, 0.55);
    background-color: rgba(12, 164, 149, 0.4);
    position: relative;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(12, 164, 150, 1) 100%);*/
}

.suiButton:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(12, 164, 150, 1) 100%);
    color: var(--white_color);
}

.active {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(12, 164, 150, 1) 100%);
}

.content-middle {
    width: 100%;
}

