html,
body {
    margin: 0;
    margin-bottom: 0px !important;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%; /* Vollständige Fensterhöhe */
    zoom: 0.8;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #000;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from(var(--primary_color)),
    to(var(--primary_light)),
    color-stop(.6, var(--primary_light_dark)))
}

/* Header fixieren */
header {
    flex: 0 0 auto; /* Verhindert, dass sich der Header dehnt */
    padding: 10px; /* Abstand */
    /*border-bottom: 1px solid #ddd;*/
}

/* Main-Content scroll-fähig machen */
main.scrollable-content {
    flex: 1 1 auto; /* Flexibler, scrollbarer Bereich */
    overflow-y: auto; /* Scroll nur bei vertikalem Überlauf anzeigen */
    /*padding: 20px; !* Abstand innerhalb des Contents *!*/
}

/* Footer fixieren */
footer {
    flex: 0 0 auto; /* Verhindert, dass sich der Footer dehnt */
    /*padding: 10px; !* Abstand *!*/
    /*border-top: 1px solid #ddd;*/
    text-align: center;
}


.suiButton {
    padding: 12px 16px;
    text-transform: capitalize;
    color: var(--white_color);
    border: 1px solid rgba(10, 188, 185, 0.55);
    background-color: rgba(12, 164, 149, 0.4);
    position: relative;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(12, 164, 150, 1) 100%);*/
}

.suiButton:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(12, 164, 150, 1) 100%);
    color: var(--white_color);
}

.active {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(12, 164, 150, 1) 100%);
}

.content-middle {
    width: 100%;
}

.tooltip-inner {
    font-size: 1.2rem; /* Schriftgröße */
    font-weight: bold; /* Optional: Bold */
}

.backgroundImage {
    width: 75px;
    height: 51px;
    background: var(--primary_dark);
    -webkit-mask-image: url(/images/avatar-shape.png);
    mask-image: url(/images/avatar-shape.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.technologiesCardLi {
    position: relative;
    display: grid !important;
    height: 113px;
    padding: 2px;
    color: var(--white_color) !important;
    font-size: large;
    font-weight: 800;
    background-color: transparent !important;
    z-index: 1;
    border: 0 !important;
}
